body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 70px;
}

#header {
    width: 100%;
    height: 70px;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    background-color: #303030;

    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header .logo-box {
    width: 170px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-box img {
    width: 150px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.backbtn {
    width: 70px;
    height: 100%;
    line-height: 70px;
    text-align: center;
}

.backbtn button {
    width: 100%;
    height: 40px;
    line-height: normal;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #575757;
    transition: 0.2s;
}

.backbtn button:hover {
    background-color: #161616;
}


/* Section 1 */
#section1 {
    width: 100%;
    height: 500px;
    line-height: 500px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url('../images/kbiocafe-interior.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#section1 .container-box {
    display: inline-block;
    line-height: normal;
    color: #fff;
    text-align: center;
}

#section1 .container-box .container-box-group {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#section1 .container-box span {
    font-size: 15px;
}

#section1 .container-box h1 {
    font-size: 70px;
    font-weight: 600;
}

#section1 .container-box h2 {
    font-size: 20px;
}


/* Section 2 */
