.newsletter-section-bg1 {
    width: 100%;
    height: 100%;
    background-image: url('../images/laptop-typing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsletter-section-bg2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/laptop-typing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* ------------------------- */

.newsletter-box-bg1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/stock-lunchBox.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
}

.newsletter-box-bg1:hover {
    background-size: 105%;
    filter: brightness(0.9);
}

/* ------------------------- */

.newsletter-box-bg2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/earth.jpeg');
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
}

.newsletter-box-bg2:hover {
    background-size: 260%;
    filter: brightness(0.9);
}

/* ------------------------- */

.newsletter-box-bg3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/stock-salad.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
}

.newsletter-box-bg3:hover {
    background-size: 105%;
    filter: brightness(0.9);
}

/* ------------------------- */

.newsletter-box-bg4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/stock-kfood1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
}

.newsletter-box-bg4:hover {
    background-size: 105%;
    filter: brightness(0.9);
}


/* ------------------------ */

.section-title-color1 {
    color: #535353;
}

.section-title-color2 {
    color: #fff;
}
