.newsletter-box-bg1 {
    background-image: url('../images/stock-lunchBox.jpg');
    background-size: 100%;
    background-position: center center;
    transition: 0.2s;
}

.newsletter-box-bg1:hover {
    background-size: 105%;
    filter: brightness(0.9);
}