body {
    background-color: transparent;
}

#table {
    width: 800px;
    height: 350px;
    border-radius: 41px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #7d9ab6;
}

.daum_roughmap_loader_script {
    border-radius: 15px;
}

.part1 {
    width: 50%;
    display: block;
}

.part2 {
    width: 40%;
    display: block;
}

.part-group {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.part1-group {
    height: 100%;
    padding: 0px 20px;
}

.namePart {
    width: 100%;
    text-align: left;
    color: #000;
}

.name {
    font-size: 22px;
    font-weight: 400;
}

.name-bold {
    font-weight: bold;
}

.job-title {
    font-size: 18px;
    font-weight: 300;
}

.info-content {
    width: 100%;
    margin-top: 20px;
}

.info {
    text-align: left;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon {
    width: 25px;
    float: left;
}

.info-title {
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    float: left;
    color: #0c4d63;
}

.link {
    font-weight: 400;
    color: #0c4d63;
    text-decoration: none;
}

.middle-line {
    width: 2px;
    height: 100%;
    margin: 0px 10px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
}

.button {
    width: 100%;
    float: left;
    text-decoration: none;
    padding: 10px 0px;
    margin-top: 20px;
    border-radius: 30px;
    color: #1e4a72;
    background-color: #5ad7ff;
    transition: 0.2s;
}

.button:hover {
    filter: brightness(0.85);
}

.address {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding: 0px 15px;
    color: #000;
}

.location {
    font-size: 10px;
}

/* Back Button */
.icon-content {
    float: left;
    margin: 0px 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.back-icon {
    width: 37px;
    margin-right: 0px;
    padding: 0px;
    position: relative;
    top: 2px;
    left: 0px;
}
.backbtn {
    padding: 8px 10px;
    border-radius: 16px;
    border: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #12a182;
    transition: 0.2s;
}

.backbtn:hover {
    color: #fff;
    filter: brightness(0.9);
    background-color: #057960;
}