#login-section {
    width: 50%;
    height: 100%;
    padding: 20px 50px;
    padding-top: 35px;
    line-height: normal;
    float: left;
    text-align: center;
}

#login-section h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

#login-section h2 {
    font-size: 15px;
    font-weight: 300;
    color: #000;
}

#default {
    width: 50%;
    height: 100%;
    line-height: 350px;
    padding: 20px;
    float: left;
    text-align: center;
}

.grid-section {
    width: 100%;
    height: 350px;
    line-height: 350px;
    padding: 15px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ececec;
}

#login-section .section-group,
#default .section-group {
    display: inline-block;
    line-height: normal;
}

#section1 {
    width: 100%;
    height: auto;
    line-height: auto;
    /* background-color: #101c30; */
    overflow: hidden;
    padding: 50px 0px;
}

#section1-1 {
    width: 100%;
    height: 900px;
}

#section2 {
    width: 100%;
    height: 100%;
    line-height: auto;
    padding: 50px 150px;
    background-color: #bacada;
    float: left;
}

#section2-1 {
    width: 100%;
    height: 100%;
    line-height: auto;
    padding: 0px 0px;
    float: left;
    overflow: hidden;
}

#section3 {
    width: 100%;
    height: 100%;
    line-height: auto;
    padding: 100px 50px;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.3)),
    url('../images/ios-bg1.jpeg');
    background-position: center center;
    background-size: cover;

    float: left;
    overflow: hidden;
}

#section4 {
    width: 100%;
    height: 100%;
    line-height: auto;
    padding: 100px 50px;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.3)),
    url('../images/silicon-valley-city.jpg');
    background-position: center center;
    background-size: cover;
    float: left;
}


#section-bg {
    background-color: #323232;
}

#section5 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 200px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/earth.jpeg');
    background-size: cover;
    background-position: center center;
}

video {
    width: 100%;
}

.section-group5 {
    width: 100%;
    padding: 20px 0px;
}

.section-part1 {
    width: 100%;
    height: 800px auto;
    padding: 30px 0px;
    color: #EBFEFF;
}

.text-box {
    width: 500px;
    height: 100%;
    margin: 30px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-part1 h1 {
    font-size: 40px;
}

.section-part2 h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #9EFBFF;
}

.text-box p {
    font-size: 18px;
    font-weight: 300;
    color: #EBFEFF;

}

.yt-video {
    width: 100%;
}

.section-part1 iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 320px;
    border-radius: 15px;
}

.section-part2 {
    padding: 30px 0px;
}

#section1 .section-group {
    width: 100%;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
}

.section-group .section-group-txt {
    width: 100%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.section-group-txt h3 {
    font-size: 34px;
    font-weight: 200;
}

.section-group-txt h1 {
    width: 100%;
    font-size: 140px;
}

.section-group-txt p {
    font-size: 35px;
}

.section-group-txt .p2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 200;
    color: #fed457;
}

/* Third Section Part */

.section-group3 {
    width: 100%;
    height: auto;
    padding: 30px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
}


.section-group4 {
    width: 800px;
    height: auto;
    padding: 30px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
}




.third-section-title-txt {
    font-size: 32px;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
}

.third-section-title-txt-mobile {
    display: none;
}

.section-box {
    width: 100%;
    padding: 35px 50px;
    background-color: #fff;
    opacity: 75%;
    border-radius: 27px;
    margin: 15px 0px;
    overflow: hidden;
}

.section-box2 {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 40px 100px;
    overflow: hidden;
}

.section-bg2 {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/consulting2.jpeg');
    background-size: cover;
    background-position: center top;
}

.section-group2 {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    /* background-color: #323232; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}


.section-group2 .main-txt {
    font-size: 50px;
    text-align: left;
}

.section-group2 h3 {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    margin-top: 18px;
}

.sec2-1_txt1 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.section-box h1 {
    font-size: 25px;
}

.linkbtn-group {
    width: 300px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
}

.linkbtn-group a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 300;
    padding: 12px 70px; 
    border-radius: 30px;
    transition: 0.2s;
}

.linkbtn:hover {
    color: #000;
    background-color: #fff;
}


.titleGroup {
    width: 100%;
    height: 100%;
    line-height: 90px;
    text-align: left;
    color: #fff;
    overflow: hidden;
}

.sec-grp3-date {
    font-size: 45px;
    font-weight: 300;
}

.sec-grp3-update-txt {
    font-size: 110px;
}

.section-box ul {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

/* ------------- */

#section6 {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../images/city-building2.jpeg');
    background-size: cover;
}

.section-group6 {
    width: 100%;
    height: 500px;
    line-height: 500px;
    text-align: center;
}

.group-box {
    width: 260px;
    height: 300px;
    line-height: 300px;
    margin: 10px 20px;
    padding: 15px 15px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    
}

.group-box-content {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: relative;
    bottom: 15px;
}

.box-content {
    padding: 0px 0px;
    text-align: center;
}

/* ------------- */

.group-box-content h1 {
    height: 100%;
    font-size: 100px;
    font-weight: 700;
}

.img-icon {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-icon img {
    width: 100%;
    text-align: center;
}

/* section1 title */
#section1 .section-title {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

#section1 .section-title h1 {
    font-size: 35px;
    color: #f3f3f3;
}

#section1 .section-title-mobile {
    display: none;
}


/* box item */
#section1 .box-item-group {
    width: 100%;
    height: auto;
    line-height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#section1 .box-item {
    width: 300px;
    height: 400px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;
    background-color: #ececec;
}

#section1 .box-item .box-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
}

#section1 .box-item img {
    width: 100%;
    height: 100%;
    margin: 0px;
    transition: 0.2s;
}

#section1 .box-item img:hover {
    transform: scale(1.1);
}

#section1 .box-item .text-box {
    width: 100%;
    height: auto;
    text-align: center;
}

#section1 .text-box h1 {
    font-size: 27px;
    font-weight: bold;
    color: #000;
    margin-bottom: 50px;
}

#page-btn,
#page-btn a {
    width: 100%;
    height: 45px;
    border: 0px;
    border-radius: 8px;
    background-color: #ffbb01;
    transition: 0.2s;

    color: #000;
    text-decoration: none;
}

#page-btn:hover {
    filter: brightness(0.9);
}

.page-btn-color1 {
    color: #fff;
    background-color: #21a7a0;
}

#section1 #block,
#section1 #block a {
    width: 100%;
    height: 45px;
    border: 0px;
    border-radius: 8px;
    background-color: #000;

    color: #fff;
    text-decoration: none;
}


/* 로그인 섹션 디자인 */
.login-group {
    width: 100%;
    height: 100%;
}

.login-box {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.login-box .login-user-pw {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 0px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
}

.login-box .login-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    background-color: #3f3f3f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: 0.2s;
}

.login-box .login-btn:hover {
    filter: brightness(0.8);
}

.login-box a {
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    padding: 8px 159px;
    margin: 10px 0px;
    border-radius: 10px;
    transition: 0.2s;
}

.login-box a:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
}

#default h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#default .description {
    font-size: 15px;
    margin-bottom: 10px;
}

#default .notice {
    color: #d64949;
}