#section-bg {
    background-color: #323232;
}

#section5 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 100px 120px;
}

.section-group5 {
    width: 100%;
    padding: 20px 40px;
}

.section-part1 {
    width: 100%;
    height: 800px auto;
    padding: 30px 80px;
}

.section-part1 .text-box {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.section-part1 h1 {
    font-size: 57px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-part1 iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section1 .section-group {
    width: 100%;
    height: 900px;
    line-height: 900px;
    text-align: center;
}

.section-group .section-group-txt {
    width: 1200px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.section-group-txt h3 {
    font-size: 34px;
    font-weight: 200;
}

.section-group-txt h1 {
    font-size: 115px;
}

.section-group-txt p {
    font-size: 35px;
}

.section-group-txt .p2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 200;
    color: #fed457;
}

/* Third Section Part */

.section-group3 {
    width: 1200px;
    height: auto;
    padding: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.3)),
    url('../images/ios-bg1.jpeg');
    background-position: center center;
    background-size: cover;
}


.section-group4 {
    width: 1200px;
    height: auto;
    padding: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.3)),
    url('../images/silicon-valley-city.jpg');
    background-position: center center;
    background-size: cover;
}




.third-section-title-txt {
    font-size: 32px;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
}

.section-box {
    width: 100%;
    padding: 35px 100px;
    background-color: #fff;
    opacity: 75%;
    border-radius: 27px;
    margin: 15px 0px;
    overflow: hidden;
}

.section-box2 {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 40px 100px;
    overflow: hidden;
}

.section-bg2 {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url('../images/consulting2.jpeg');
    background-size: cover;
    background-position: center top;
}

.section-group2 {
    width: 100%;
    height: 100%;
    padding: 80px;
    /* background-color: #323232; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

.section-group2 .main-txt {
    font-size: 50px;
    width: 600px;
    text-align: left;
}

.section-group2 h3 {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    margin-top: 18px;
}

.sec2-1_txt1 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.linkbtn-group {
    width: 230px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
}

.linkbtn-group a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 300;
    padding: 12px 70px; 
    border-radius: 30px;
    transition: 0.2s;
}

.linkbtn:hover {
    color: #000;
    background-color: #fff;
}


.titleGroup {
    width: 100%;
    height: 100%;
    line-height: 90px;
    text-align: left;
    color: #fff;
    overflow: hidden;
}

.sec-grp3-date {
    font-size: 60px;
    font-weight: 300;
}

.sec-grp3-update-txt {
    font-size: 100px;
}

.section-box ul {
    font-size: 25px;
    font-weight: 400;
    text-align: left;
}