#section-bg {
    background-color: #323232;
}

#section1 .section-group {
    width: 100%;
    height: 900px;
    line-height: 900px;
    text-align: center;
}

.section-group .section-group-txt {
    width: 1200px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.section-group-txt h3 {
    font-size: 34px;
    font-weight: 200;
}

.section-group-txt h1 {
    font-size: 94px;
}

.section-group-txt p {
    font-size: 35px;
}

.section-group-txt .p2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 200;
    color: #fed457;
}

/* Second Section Part */

.section-group2 {
    width: 1200px;
    height: auto;
    padding: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;

    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.3)),
    url('../images/silicon-valley-city.jpg');
    background-position: center center;
    background-size: cover;
}


.second-section-title-txt {
    font-size: 32px;
    width: 100%;
    padding: 15px 0px;
    color: #fff;
}

.section-box {
    width: 100%;
    padding: 35px 100px;
    background-color: #fff;
    opacity: 80%;
    border-radius: 27px;
    margin: 15px 0px;
}

.section-group3 {
    width: 100%;
    height: auto;
    padding: 80px;
    background-color: #323232;
    display: block;
    margin-left: auto;
    margin-right: auto;
}