@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
section,
main,
header,
footer,
div,
nav,
#navBar {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

::-moz-selection {
    background-color: #ffb533;
    color: #573d10;
}

::selection {
    background-color: #ffb533;
    color: #573d10;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #535768;
}

main {
    flex: 1;
    padding-top: 60px;
}

#newsletter-main {
    padding: 0px;
}

#email-page {
    padding: 100px;
}

.web-size {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.web-size-center {
    position: absolute;
    top: 0;
    right: -200%;
    bottom: 0;
    left: -200%;
}

#wrapper {
    display: none;
}


header {
    width: 100%;
    height: 60px;
    padding: 0px 40px;

    line-height: 60px;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #151515;
}


.navBar_toggleBtn {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 3px;
    color: var(--accent-color);
    display: none;
}

.navBar_toggleBtn:hover {
    opacity: 80%;
}

#menu-btn {
    display: none;
}

#menu-btn.active {
    display: flex;
}

.header-color {
    background-color: #edf0fa;
}

#navBar #news-menu a {
    display: inline-block;
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    margin-top: 5px;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #3754cc;
    background-color: #d2daf8;
}

#navBar #news-menu a:hover {
    color: #fff;
    font-weight: 400;
    background-color: #5e7aee;
}

.submenu > li {
    font-size: 10px;
    text-align: center;
    color: #fff;
    background-color: #101c30bb;
}

.submenu {
    height: 0; /* ul의 높이를 안보이게 처리 */
    overflow: hidden;
}

.navBar_menu > li:hover {
    height: 100%;
    transition-duration: 0.2s;
    color: #fff;
}

.navBar_menu > li:hover .submenu {
    height: auto;
    overflow: hidden;
    transition-duration: 0.5s;
}



#footer {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    padding: 0px 20px;
    line-height: 150px;
    background-color: #0f0f0f;
    position: relative;
    bottom: 0px;
    float: left;
}



/* ------- */



.logo-main {
    width: 170px;
    float: left;
}

.logo-main img {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    width: 100%;
}

#navBar {
    /* height: 60px; */
    line-height: 60px;
    display: flex;
    float: right;
    padding-right: 50px;
}

.navBar_menu {
    width: 100%;
}

#navBar ul li a {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 60px;
    vertical-align: middle;
}

.navBar_menu > li {
    width: 150px;
    height: 60px;
    line-height: 40px;
    list-style: none;
    margin: 0px 5px;
    text-align: center;
    float: left;
    color: #fff;
}

#navBar a {
    width: 100%;
    height: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    padding: 5px 15px;
    background-color: #6171b5;
    transition: 0.2s;
}

#navBar a:hover {
    color: #fff;
    font-weight: 300;
}


/* Footer */
.footer-group {
    width: 100%;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    bottom: 4px;
}

.f-sec1 {
    /* height: 130px; */
    /* line-height: 130px; */
    width: 20%;
    display: block;
    line-height: 130px;
    float: left;
    text-align: center;
}

.f-sec2 {
    width: 80%;
    line-height: 130px;
    display: block;
    float: left;
    color: #fff;
    padding-left: 50px;
}

.logo-main2 {
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: normal;
}

.logo-main2 img {
    max-width: 180px;
    height: auto;
}

.logo-main2 a {
    width: 100%;
    height: 100%;
}

.f-sec2-grp {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}


.f-sec2 .f-location {
    font-size: 15px;
}

.f-sec2 .f-copy {
    font-size: 13px;
    margin-top: 10px;
    opacity: 75%;
}


.section-box-size {
    width: 100%;
    height: 500px;
}

.editor-main {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #737A85;
}