
@media screen and (max-width: 900px) {
    * {
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    ul,
    li,
    section,
    main,
    header,
    footer,
    div,
    nav,
    #navBar {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    
    body {
        display: flex;
        flex-direction: column;
    }
    
    main {
        flex: 1;
        padding-top: 60px;
        width: 100%;
    }
    
    #header {
        width: 100%;
        height: 60px;
    }

    .logo-main {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navBar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #navBar ul li a {
        width: 100%;
    }

    .navBar_toggleBtn {
        display: block;
    }


    #section1 {
        width: 100%;
        height: 500px;
    }

    #section1 .section-group {
        width: 100%;
        height: 500px;
        line-height: 500px;
        text-align: center;
    }

    .section-group .section-group-txt {
        width: 100%;
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
    }
    .section-group-txt h3 {
        font-size: 25px;
    }

    .section-group-txt h1 {
        font-size: 75px;
    }

    .section-group-txt p {
        font-size: 25px;
        font-weight: 300;
    }

    .section-group-txt .p2 {
        font-size: 20px;
    }


    #section2 {
        padding: 80px 40px;
    }

    #section3 {
        width: 100%;
        padding: 60px 40px;
    }

    .section-group3 {
        width: 100%;
    }

    .section-box {
        width: 100%;
        padding: 35px 55px;
    }

    #section4 {
        width: 100%;
        padding: 60px 65px;
    }

    .section-group4 {
        width: 100%;
    }


    #section5 {
        width: 100%;
        float: left;
        padding: 50px 20px;
    }

    .section-group5 {
        padding: 50px 0px;
    }

    .section-part1,
    .section-part2 {
        padding: 20px 38px;
    }

    .section-part1 h1 {
        font-size: 35px;
    }

    .section-part1 iframe {
        padding: 0px;
    }

    .section-part2 h1 {
        font-size: 18px;
        margin-top: 20px;
    }

    .section-part2 p {
        font-size: 14px;
        margin: 10px 0px;
    }

    #section6 {
        height: 100%;
        padding: 50px 50px;
    }

    .section-group6 {
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }

    .group-box {
        width: 100%;
    }

    .group-box-content {
        width: 100%;
        height: 100%;
    }



    #footer {
        width: 100%;
        height: 270px;
        padding: 40px 30px;
    }

    .footer-group {
        width: 100%;
        height: 100%;
    }

    .logo-main2 img {
        width: 100%;
        max-width: 280px;
        display: inline-block;
        vertical-align: middle;
    }

    .f-sec1 {
        width: 100%;
        line-height: 60px;
        display: block;
        float: left;
        text-align: center;
    }

    .f-sec2 {
        display: block;
        width: 100%;
        height: 100px;
        line-height: 100px;
        padding: 0px;
        text-align: center;
    }

    .section-box h1 {
        font-size: 25px;
    }



    /* section1 title */
#section1 .section-title {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#section1 .section-title h1 {
    font-size: 25px;
    color: #fff;
}


/* box item */
#section1 .box-item-group {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#section1 .box-item {
    width: 200px;
    height: 150px;
    line-height: 150px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;
    background-color: #fff;
}

#section1 .box-item .box-img {
    width: 100%;
    height: 90px;
    overflow: hidden;
    border-radius: 12px;
    display: none;
}

#section1 .box-item img {
    width: 100%;
    margin: 0px;
    transition: 0.2s;
}

#section1 .box-item img:hover {
    transform: scale(1.1);
}

#section1 .box-item .text-box {
    width: 100%;
    height: auto;
    display: inline-block;
    line-height: normal;
    text-align: center;
}

#section1 .text-box h1 {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

#page-btn,
#page-btn a {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    background-color: #ffbb01;
    transition: 0.2s;

    color: #000;
    text-decoration: none;
}

#page-btn:hover {
    filter: brightness(0.9);
}

#section1 #block,
#section1 #block a {
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    background-color: #000;

    color: #fff;
    text-decoration: none;
}


}

@media screen and (max-width: 660px) {
    
    * {
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    ul,
    li,
    section,
    main,
    header,
    footer,
    div,
    nav,
    #navBar {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    
    body {
        display: block;
        flex-direction: column;
    }
    
    main {
        padding-top: 60px;
        width: 100%;
    }
    
    #header {
        width: 100%;
        height: 60px;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-main {
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navBar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #navBar ul li {
        display: none;
        width: 100%;
        text-align: center;
        background-color: #101c30;
        transition: 0.2s;
    }

    #navBar ul li a {
        width: 100%;
        text-align: center;
        transition: 0,2s;
    }

    #navBar ul li:hover {
        background-color: #1c2e4d;
    }

    .navBar_toggleBtn {
        /* display: flex; */
    }

    #section1 {
        width: 100%;
        height: 400px;
        float: left;
    }

    #section1 .section-group {
        width: 100%;
        height: 400px;
        line-height: 400px;
        text-align: center;
    }

    .section-group .section-group-txt {
        width: 100%;
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
    }
    .section-group-txt h3 {
        font-size: 22px;
    }

    .section-group-txt h1 {
        font-size: 50px;
    }

    .section-group-txt p {
        font-size: 17px;
        font-weight: 300;
    }

    .section-group-txt .p2 {
        font-size: 12px;
        margin-top: 10px;
    }


    #section2 {
        padding: 20px 40px;
        float: left;
    }

    .section-group2 {
        width: 100%;
        padding: 30px 5px;
        display: block;
        overflow: visible;
    }

    .section-group2 .main-txt {
        font-size: 30px;
        width: 100%;
    }

    .section-group2 h3 {
        font-size: 15px;
    }

    .section-bg2 {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/consulting2.jpeg');
        background-size: cover;
        background-position: center top;
    }

    #section3 {
        width: 100%;
        padding: 40px 25px;
        float: left;
    }

    .section-group3 {
        width: 100%;
        padding: 50px 20px;
    }

    .sec-grp3-date {
        font-size: 35px;
        height: 65px;
    }

    .sec-grp3-update-txt {
        font-size: 72px;
    }

    .section-box ul {
        font-size: 15px;
    }

    .section-box {
        width: 100%;
        padding: 35px 35px;
    }

    .section-box h1 {
        font-size: 18px;
    }

    .section-box p {
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
    }

    #section4 {
        width: 100%;
        padding: 40px 25px;
        float: left;
    }

    .section-group4 {
        width: 100%;
        padding: 50px 20px;
    }

    .third-section-title-txt {
        font-size: 22px;
    }

    #section2-1 {
        padding: 0px 0px; 
    }

    .section-box2 {
        padding: 42px 50px;
    }

    .sec2-1_txt1 {
        font-size: 25px;
    }

    .linkbtn-group {
        width: 200px;
        height: 50px;
        line-height: 50px;
        margin-top: 14px;
    }

    .linkbtn-group .linkbtn {
        padding: 10px 40px;
    }

    #section5 {
        width: 100%;
        float: left;
        padding: 50px 20px;
    }

    .section-group5 {
        padding: 50px 0px;
    }

    .section-part1,
    .section-part2 {
        padding: 20px 38px;
    }

    .section-part1 h1 {
        font-size: 35px;
    }

    .section-part1 iframe {
        width: 100%;
        padding: 0px;
    }

    .section-part2 h1 {
        font-size: 18px;
        margin-top: 20px;
    }

    .section-part2 p {
        font-size: 14px;
        margin: 10px 0px;
    }


    #section6 {
        height: 100%;
        padding: 50px 20px;
    }

    .section-group6 {
        width: 50%;
        height: 100%;
    }

    .group-box {
        width: 280px;
        height: 320px;
        line-height: 320px;
        margin: 10px 0px;
    }

    .group-box-content {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .box-content {
        position: relative;
        top: 35px;
    }




    #footer {
        width: 100%;
        height: 270px;
        padding: 40px 30px;
    }

    .footer-group {
        height: 100%;
    }

    .f-sec2 .f-location {
        font-size: 12px;
        margin-top: 10px;
    }

    .section-group-txt .p2 {
        display: none;
    }



    /* section1 title */
    #section1 .section-title {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
    }

    #section1 .section-title h1 {
        font-size: 22px;
        color: #fff;
    }


    /* box item */
    #section1 .box-item-group {
        width: 100%;
    }

    #section1 .box-item {
        width: 150px;
        height: 150px;
        line-height: 150px;
        margin: 10px;
        border-radius: 15px;
        overflow: hidden;
        padding: 20px;
        background-color: #fff;
    }

    #section1 .box-item .box-img {
        width: 100%;
        height: 90px;
        overflow: hidden;
        border-radius: 12px;
        display: none;
    }

    #section1 .box-item img {
        width: 100%;
        margin: 0px;
        transition: 0.2s;
        display: none;
    }

    #section1 .box-item img:hover {
        transform: scale(1.1);
    }

    #section1 .box-item .text-box {
        width: 100%;
        height: auto;
        display: inline-block;
        line-height: normal;
        text-align: center;
    }

    #section1 .text-box h1 {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
    }

    #page-btn,
    #page-btn a {
        width: 100%;
        height: 30px;
        border: 0px;
        font-size: 12px;
        border-radius: 8px;
        background-color: #ffbb01;
        transition: 0.2s;

        color: #000;
        text-decoration: none;
    }

    #page-btn:hover {
        filter: brightness(0.9);
    }

    #section1 #block,
    #section1 #block a {
        width: 100%;
        height: 30px;
        border: 0px;
        font-size: 12px;
        border-radius: 8px;
        background-color: #000;

        color: #fff;
        text-decoration: none;
    }

}


@media screen and (max-width: 1092px) {
    * {
        box-sizing: border-box;
        font-family: 'Noto Sans KR', sans-serif;
    }
    
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    ul,
    li,
    section,
    main,
    header,
    footer,
    div,
    nav,
    #navBar {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    
    body {
        display: flex;
        flex-direction: column;
    }
    
    main {
        flex: 1;
        padding-top: 60px;
        width: 100%;
    }
    
    #header {
        width: 100%;
        height: 60px;
    }

    .logo-main {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navBar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #navBar ul li a {
        width: 100%;
    }

    .navBar_toggleBtn {
        display: block;
    }


    #section1 {
        width: 100%;
        height: 500px;
    }

    #section1 .section-group {
        width: 100%;
        height: 500px;
        line-height: 500px;
        text-align: center;
    }

    .section-group .section-group-txt {
        width: 100%;
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
    }
    .section-group-txt h3 {
        font-size: 25px;
    }

    .section-group-txt h1 {
        font-size: 75px;
    }

    .section-group-txt p {
        font-size: 25px;
        font-weight: 300;
    }

    .section-group-txt .p2 {
        font-size: 20px;
    }


    #section2 {
        padding: 80px 40px;
    }

    #section3 {
        width: 100%;
        padding: 60px 40px;
    }

    .section-group3 {
        width: 100%;
    }

    .section-box {
        width: 100%;
        padding: 35px 55px;
    }

    #section4 {
        width: 100%;
        padding: 60px 40px;
    }

    .section-group4 {
        width: 100%;
    }


    #section5 {
        width: 100%;
        float: left;
        padding: 50px 20px;
    }

    .section-group5 {
        padding: 50px 0px;
    }

    .section-part1,
    .section-part2 {
        padding: 20px 38px;
    }

    .section-part1 h1 {
        font-size: 35px;
    }

    .section-part1 iframe {
        padding: 0px;
    }

    .section-part2 h1 {
        font-size: 18px;
        margin-top: 20px;
    }

    .section-part2 p {
        font-size: 14px;
        margin: 10px 0px;
    }

    #section6 {
        height: 100%;
        padding: 50px 0px;
    }

    .section-group6 {
        width: 100%;
        height: 100%;
    }

    .group-box {
        width: 260px;
        margin: 30px 10px;
    }




    #footer {
        width: 100%;
        height: 250px;
        line-height: 250px;
        padding: 40px 30px;
    }

    .footer-group {
        width: 100%;
        height: 150px;
        display: block;
        position: relative;
        top: 10px;
    }

    .f-sec1 {
        width: 100%;
        height: 30%;
        text-align: center;
    }

    .f-sec2 {
        width: 100%;
        height: 70%;
        text-align: center;
        padding: 0px;
    }

    .logo-main2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .f-sec2-grp {
        display: block;
    }

    .section-box h1 {
        font-size: 25px;
    }
}