
/* Home Mobile */
@media screen and (max-width: 855px) {
    .web-size {
        width: 100%;
        padding: 0px 30px;
    }

    header {
        width: 100%;
        height: 60px;
        padding: 0px 0px;
    }

    #navBar .navBar_menu {
        display: none;
    }

    #navBar {
        padding: 0px;
    }

    header .logo-main {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    #section1 {
        display: block;
        width: 100%;
        padding: 50px 30px;
        margin-left: auto;
        margin-right: auto;
    }



    #section1 .box-item {
        width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        border-radius: 15px;
        overflow: hidden;
        margin: 0px;
        margin-bottom: 15px;
        padding: 30px 50px;
        background-color: #ececec;
    }

    #section1 .box-item .box-img {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 12px;
    }

    /* section1 title */
    #section1 .section-title {
        display: none;
    }

    #section1 .section-title-mobile {
        display: inline-block;
        margin-bottom: 30px;
    }

    #section1 .section-title-mobile h1 {
        font-size: 35px;
        color: #f3f3f3;
    }



    .grid-section {
        width: 100%;
        display: none;
    }

    #login-section {
        padding: 20px 20px;
    }

    .login-box a {
        width: 100%;
        height: 100%;
        padding: 0px;
    }

    #login-section .login-box a:hover {
        width: 100%;
    }

    #section2-1 {
        width: 100%;
        border-radius: 15px;
    }

    .section-box2 {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        padding: 40px 20px;
        overflow: hidden;
    }

    .sec2-1_txt1 {
        display: none;
    }

    .sec2-1_txt1-mobile {
        display: inline-block;
        font-size: 27px;
        font-weight: 400;
        color: #fff;
    }

    #section3 {
        width: 100%;
        height: 100%;
        line-height: auto;
        padding: 40px 8px;
        border-radius: 15px;
    }

    .section-group3 {
        width: 100%;
        height: auto;
        padding: 30px 20px;
    }

    .sec-grp3-date {
        font-size: 44px;
        font-weight: 300;
    }
    
    .sec-grp3-update-txt {
        font-size: 95px;
        font-weight: bold;
    }
    
    .section-box ul {
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        padding: 0px;
    }

    #section4 {
        width: 100%;
        height: 100%;
        line-height: auto;
        padding: 60px 10px;
        border-radius: 15px;
    }

    .section-group4 {
        width: 100%;
    }

    .section-box {
        width: 100%;
        padding: 35px 30px;
        background-color: #fff;
        opacity: 75%;
        border-radius: 27px;
        margin: 15px 0px;
        overflow: hidden;
    }

    .section-box h1 {
        font-size: 19px;
        font-weight: bold;
    }

    .section-box p {
        font-size: 15px;
    }

    .third-section-title-txt {
        display: none;
    }

    .third-section-title-txt-mobile {
        display: inline-block;
        font-size: 24px;
        width: 100%;
        padding: 15px 0px;
        color: #fff;
    }


    #section5 {
        width: 100%;
        height: 100%;
        padding: 40px 50px;
        border-radius: 15px;
    }

    .section-group5 {
        width: 100%;
        padding: 0px;
    }

    #section6 {
        width: 100%;
        height: 100%;
        line-height: auto;
        padding: 100px 50px;
        border-radius: 15px;
    }

    .section-group6 {
        width: 100%;
        height: 100%;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
    }

    .group-box {
        width: 280px;
        height: 260px;
        line-height: 260px;
        margin: 15px 0px;
        padding: 15px 15px;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
    }

    .group-box h1 {
        font-size: 70px;
    }

    .group-box p {
        font-size: 13px;
    }

    .text-box {
        width: 100%;
        height: 100%;
        margin: 30px 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section-part1 h1 {
        font-size: 30px;
    }

    .section-part2 h1 {
        font-size: 20px;
    }

    .section-part2 p {
        font-size: 15px;
    }

    .section-part1 iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 320px;
        border-radius: 15px;
    }


    #footer {
        width: 100%;
        height: 300px;
        margin-top: 0px;
        padding: 0px 20px;
        line-height: 300px;
        background-color: #0f0f0f;
        position: relative;
        bottom: 0px;
        float: left;
    }

    /* Footer */
    .footer-group {
        width: 100%;

        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin: 0;
        padding: 0;
        text-align: left;
        position: relative;
        bottom: 4px;
    }

    .f-sec1 {
        /* height: 130px; */
        /* line-height: 130px; */
        width: 100%;
        display: block;
        line-height: 0px;
        float: left;
        text-align: center;
    }

    .f-sec2 {
        width: 100%;
        line-height: 100px;
        display: block;
        float: left;
        color: #fff;
        padding-left: 0px;
        text-align: center;
    }

    .logo-main2 {
        width: 100%;
        height: 100%;
        display: inline-block;
        line-height: normal;
    }

    .logo-main2 img {
        max-width: 280px;
        height: auto;
    }

    .logo-main2 a {
        width: 100%;
        height: 100%;
    }

    .f-sec2-grp {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }


    .f-sec2 .f-location {
        font-size: 15px;
    }

    .f-sec2 .f-copy {
        font-size: 13px;
        margin-top: 10px;
        opacity: 75%;
    }


    .section-box-size {
        width: 100%;
        height: 500px;
    }

    #news-menu {
        display: none;
    }

}

/* Newsletter section page Mobile */
@media screen and (max-width: 855px) {

    #section1-1 {
        width: 100%;
        line-height: auto;
        padding: 150px 25px;
    }

    .section-box-color {
        opacity: 100%;
        background-color: #8a9ba5;
    }

    .section-box .section-box-txt1 {
        font-size: 30px;
        text-align: center;
    }
    
    .section-box .section-box-txt2 {
        font-size: 30px;
    }

    .linkBox {
        font-size: 17px;
        margin-top: 7px;
        padding: 20px 25px;
    }
}