.page-section {
    width: 100%;
    height: 550px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.section-box {
    width: 1000px;
    height: 550px;
    padding: 30px 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    border-radius: 30px;
}

.section-box h2 {
    font-size: 40px;
    text-align: center;
}

.linkBox {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 20px 30px;
    
    background-color: #ff9a2e;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;

    font-size: 20px;
}

.linkBox:hover {
    color: #fff;
    background-color: #ffad55;
    transform: scale(0.97);
}