#table-section-01 {
    border-collapse: collapse;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
}

#table-section-01 tbody tr,
#table-section-01 tbody tr td {
    border-collapse: collapse;
    border: 1px solid #bd99c7;
    padding: 5px;
}

#table-section-02 tbody tr,
#table-section-02 tbody tr td {
    border-collapse: collapse;
    border: 1px solid #7d81ac;
    padding: 8px;
}

#td-in-list-01 li {
    list-style-type: disc;
    padding-left: 0px;
    margin-left: 18px;
}

/* 7/19 테이블 디자인 */
.july-table-title {
    width: 100%;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #ebebeb;
}

.july-table-title .t-title {
    font-size: 18px;
    color: rgba(132, 55, 155, 1);
}

.july-table-title .t-subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #373737;
}

#july-kbio-table {
    overflow: hidden;
    border-style: hidden;
    border-collapse: collapse;
}

#july-kbio-table tbody tr td,
#july-kbio-table thead tr th {
    border: 0.6px solid rgba(189, 153, 200, 1);
}

#july-kbio-table tbody tr td {
    padding: 18px;
}