#table-section-01 {
    border-collapse: collapse;
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
}

#table-section-01 tbody tr,
#table-section-01 tbody tr td {
    border-collapse: collapse;
    border: 1px solid #876639;
    padding: 5px;
}

#table-section-02 tbody tr,
#table-section-02 tbody tr td {
    border-collapse: collapse;
    border: 1px solid #7d81ac;
    padding: 8px;
}

#td-in-list-01 li {
    list-style-type: none;
    padding: 0px;
}