.header-section-01 {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.event-header-02 {
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 0px;
    background-color: transparent;
}

.event-header-02 #event-image-01 {
    transform: scale(1.01);
}

/* Event Description */
.event-desc-group {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: #eee0e0;
}

.event-desc-01 {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.event-p1 {
    font-size: 22px;
    color: #be6c6c;
}

/* KBIO Cafe Catering Order */
#kbiocafe-order-title-section {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 12px;
    color: #ffffff;
    background: rgb(255, 163, 19);
    background: linear-gradient(90deg, rgba(255, 163, 19, 1) 0%, rgba(227, 85, 32, 1) 100%);
}

.order-title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

#kbiocafe-orderMenu {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-table-bg {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 12px;
    border: 2px solid rgba(255, 183, 19, 1);
}

#order-table {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-collapse: collapse;
    border-style: hidden;
}

#order-table tbody tr,
#order-table tbody tr .order-th,
#order-table tbody tr .order-price {
    height: 40px;
    border: 1px solid rgba(185, 136, 24, 0.5);
}

#order-table tbody tr .order-th {
    width: 300px;
    font-weight: 400;
    text-align: right;
    padding-right: 15px;
    color: rgba(72,72,72,1);
}

#order-table tbody tr .order-num {
    width: 50px;
    text-align: center;
}

#order-table tbody tr .order-price {
    width: 120px;
    font-weight: 400;
    color: rgba(83, 52, 27, 1);
    background-color: rgba(255, 183, 19, 0.3);
    text-align: center;
}

#kbiocafe-desc {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 15px 36px;
    border-radius: 12px;
    background-color: rgba(162, 162, 162, 0.2);
}

.k-q1 {
    font-size: 18px;
    font-weight: 600;
    color: #484848;
}

.k-paragraph {
    margin-top: 15px;
    color: #484848;
}

.k-p1,
.k-p2 {
    font-size: 15px;
    font-weight: 400;
}

.k-h1 {
    font-size: 18px;
    text-align: center;
    color: #484848;
}

.downloadBtnGroup {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.pdf-download-btn {
    display: block;
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 12px;
    color: rgb(255, 255, 255, 1);
    background-color: rgba(21, 21, 21, 1);
}

.k-p3 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #484848;
}