body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


#section {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section .section-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 24px;
    background-color: transparent;
}

.icon-content {
    float: left;
    margin: 0px 10px;
}

.back-icon {
    width: 37px;
    margin-right: 0px;
    padding: 0px;
    position: relative;
    top: 2px;
    left: 0px;
}

.link-icon {
    width: 20px;
    margin-right: 5px;
    padding: 0px;
    position: relative;
    top: 4px;
}

.copyBtn {
    padding: 13px 28px;
    border-radius: 128px;
    border: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #12a182;
    transition: 0.2s;
}

.copyBtn:hover {
    color: #fff;
    filter: brightness(0.9);
    background-color: #057960;
}

.backbtn {
    padding: 8px 10px;
    border-radius: 16px;
    border: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #12a182;
    transition: 0.2s;
}

.backbtn:hover {
    color: #fff;
    filter: brightness(0.9);
    background-color: #057960;
}

.copyLink {
    padding: 14px 28px;
    border-radius: 28px;
    border: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #12a182;
    transition: 0.2s;
}

.copyLink:hover {
    color: #fff;
    filter: brightness(0.9);
    background-color: #057960;
}

.copyLink-mobile {
    display: none;
}

.section1-title {
    line-height: 42px;
    color: #000;
}

#header-title {
    width: 100%;
    height: auto;
    line-height: 100px;
    padding:10px 20px;
    background-color: #fff;

    justify-content: space-between;
    position: fixed;
    top: 60;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-title .h-title-box {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 0px 8px;
}

.button-grp {
    width: 25%;
    height: auto;
    line-height: auto;
    text-align: center;
    margin-top: 12px;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.h-txt-grp {
    width: 50%;
    height: auto;
    line-height: 70px;
    float: left;
    padding: 0px 20px;
}

.button {
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding: 0px 15px;
    margin: 0px 10px;
    border-radius: 12px;
    border: 0px;
    color: #252525;
    background-color: #ececec;
    text-decoration: none;
    float: left;
    border: 1px solid #ececec;

    transition: 0.2s;
}

.button:hover {
    color: #ffffff;
    background-color: #1573ff;
    border: 4px solid #1573ff;
}

.button-grp img {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.h-txt-grp h1 {
    color: #000;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 0.5px;
}


/* Newsletter Section */
#newsletter-section {
    width: 800px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    background-color: #e2e2e2;
    overflow: hidden;

    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.news-header {
    width: 100%;
    height: 150px;
    line-height: 150px;
    border-radius: 16px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}

.news-header-bg1 {
    background-color: #1b1e33;
}

.news-header-bg2 {
    background-color: #2b2b2b;
}

.news-sec1 {
    width: 100%;
    height: auto;
    line-height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 16px;
    background-color: #f7f7f7;
    /* filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2)); */
}

.first-section {
    background-color: #1a494488;
}

.first-section2 {
    background-color: #6f2d2ab0;
}

.news-sec2 {
    width: 100%;
    height: auto;
    line-height: auto;
    padding: 70px 100px;
    background-color: #fff;
}

.news-sec3 {
    width: 100%;
    height: auto;
    line-height: auto;
    padding: 60px 90px;
    background-color: #e4e4e4;
    text-align: center;
}

.news-footer {
    width: 100%;
    height: 200px;
    line-height: 200px;
    padding: 0px 30px;
    border-radius: 16px;
    margin-top: 10px;
    background-color: #303030;
}

/* Newsletter section inside */
.news-logo {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.news-logo .logo-img {
    width: 100%;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.logo-bg-img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.2s;
}

.logo-bg-img:hover {
    transform: scale(1.01);
}

.letter-img-box {
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}


#letter-image {
    width: 100%;
    height: 100%;
    /* border: 0.7px solid #3030304f; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    transition: 0.2s;
}

#letter-image:hover {
    transform: scale(1.01);
}

.content-box {
    height: 100%;
    padding: 30px 50px;
}

.news-footer-grp {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    position: relative;
    bottom: 15px;
}

.news-f-sec1 {
    width: 100%;
    text-align: center;
}

.news-f-sec2 {
    width: 100%;
    font-size: 13px;
    color: #fff;
    font-weight: 200;
}

.news-f-sec2 a {
    color: #fff;
    text-decoration: none;
}


.news-sec-group {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.news-sec1-part2 {
    margin: 50px 0px;
}

.section-font1 {
    font-size: 30px;
}

.image1 {
    width: 100%;
    margin-top: 30px;
}

.image1 img {
    width: 80%;
    border-radius: 30px;
}

.image2 {
    width: 100%;
    margin: 30px 0px;
}

.image2 img {
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.news-title {
    text-align: left;
    font-size: 28px;
    padding-right: 30px;
}

.news-title-size {
    font-size: 30px;
}

.news-sec-group p {
    font-size: 22px;
    font-weight: 300;
}

.link-buttonGroup {
    padding: 0px 110px;
    margin: 30px 0px;
    margin-left: auto;
    margin-right: auto;
}

.news-title2 {
    margin-top: 60px;
    text-align: center;
}

.btn-grp-size1 {
    width: 100%;
}

.link-buttonGroup .button,
.link-buttonGroup a {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 100px;
    background-color: #FFD61E;
    text-decoration: none;
    color: #000;
    border-radius: 35px;
    
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

.link-button:hover {
    background-color: #ffe571;
    text-align: center;
}

.link-buttonGroup .link-button2 {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 0px 0px;
    background-color: #3344af;
    text-decoration: none;
    color: #fff;
    border-radius: 35px;
    
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;
}

.link-button2:hover {
    color: #fff;
    background-color: #4354c3;
    text-align: center;
}

.txt-left {
    text-align: left;
}

.divide-line {
    width: 100%;
    border: 0.3px solid rgb(0,0,0,0.1);
    margin: 20px 0px;
}

.link-btn-blue {
    color: #fff;
    background-color: #3344af;
}

.news-title3 {
    font-size: 30px;
}


/* Article Design */
.article-title h1 {
    font-size: 28px;
    text-align: left;
    color: #3f3f3f;
}

.article-title h2 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    text-align: left;
    color: #3f3f3f;
}

.article-content {
    width: 100%;
    margin-top: 15px;
}

.article-content .article-paragraph {
    font-size: 18px;
    color: #000;
    text-align: left;
}

.article-img-group {
    width: 100%;
    padding: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.article-img-group .article-img {
    width: 100%;
    border-radius: 15px;
    transition: 0.2s;
}

.article-img-group .article-img:hover {
    transform: scale(1.01);
}

.article-view-more-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 0px;
    border-radius: 35px;
    text-decoration: none;
    color: #fff;
    background-color: #303030;
    transition-duration: 0.1s;
}

.article-view-more-btn:hover {
    background-color: #494949;
}


.view-newsletter {
    width: 100%;
    border: 0px;
    margin-top: 20px;
    padding: 15px 0px;
    border-radius: 30px;
    background-color: #3344af;

    font-size: 15px;
    transition: 0.2s;
}

.view-newsletter:hover {
    color: #fff;
    background-color: #4354c3;
    text-align: center;
}

.view-newsletter a {
    color: #fff;
    width: 100%;
    text-decoration: none;
}


.big-title {
    font-size: 40px;
    color: #ED8713;
    margin-bottom: 20px;
}

.menu-price-box {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #fde8dc;
}

.price-box-bg {
    background-color: #37281F;
}

.menu-img {
    width: 200px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 8px solid #AD7D61;
}

.menu-img img {
    width: 100%;
    display: block;
    /* border-radius: 6px; */
    transition: 0.2s;
}

.menu-img img:hover {
    transform: scale(1.1);
}

.img-description {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.price-txt {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}

.price-txt strong {
    font-size: 28px;
    font-weight: bold;
}

.menu-paragraph p {
    font-size: 14px;
}

.section-spacing {
    margin-top: 40px;
    margin-bottom: 50px;
}

/* KBIO Cafe Promotion Contents */
.promotion-section {
    width: 100%;
    color: #42211F;
}

.promo-title {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 7px;
}

.promo-content {
    font-size: 34px;
}

/* Food Section */
.food-section {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.food-collection {
    display: inline-block;
    width: 550px;
    margin: 0;
    line-height: normal;
    vertical-align: middle;
}

.food-collection img {
    width: 250px;
    height: 150px;
    margin: 5px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.2s;
}

.food-collection img:hover {
    transform: scale(0.97);
    overflow: hidden;
}

/* Open Hours */
.openHours-content {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.open-hour {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.link-buttonGroup .yellow-btn {
    color: #2c2c2c;
    background-color: #FFB915;
}

.link-buttonGroup .yellow-btn:hover {
    filter: brightness(1.1);
}


/* Table */
.title-box {
    width: 100%;
    margin-bottom: 20px;
}

.title-01 {
    font-size: 24px;
    font-weight: 300;
    color: #4d448c;
}

.title-01 strong {
    font-size: 30px;
}

.h-content {
    width: 100%;
    color: #595959;
    text-align: left;
    margin-bottom: 30px;
}

.h-content p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
}



.table-section {
    width: 100%;
}

#table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

#table thead, tr, th, td {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#table thead th {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background-color: #797ea2;
}

#table tbody td {
    font-size: 18px;
    color: #262c59;
    background-color: #e4e8ff;
}


.table-desc {
    font-size: 15px;
    font-weight: 200;
    margin-top: 12px;
    text-align: left;
    color: #595959;
}


/* --------------------------- */



@media screen and (max-width: 500px) {
    #section {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #section .section-box {
        width: 100%;
        height: 70px;
        line-height: 70px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        background-color: transparent;
    }
    
    .link-icon {
        width: 20px;
        margin-right: 5px;
        padding: 0px;
        position: relative;
        top: 4px;
    }
    
    .copyLink {
        display: none;
        text-decoration: none;
        color: #12a182;
    }

    .copyLink-mobile {
        display: block;
        padding: 14px 28px;
        border-radius: 28px;
        border: 0px;
        text-decoration: none;
        color: #fff;
        background-color: #12a182;
        transition: 0.2s;
    }
    
    .copyLink-mobile:hover {
        color: #fff;
        filter: brightness(0.9);
        background-color: #057960;
    }





    /* Newsletter Section */
    #newsletter-section {
        width: 100%;
        height: 100%;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;
        background-color: #EFEFEF;
        overflow: hidden;

        -webkit-user-select: all;
        -moz-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }

    .news-logo {
        width: 250px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
    
    .news-logo img {
        width: 100%;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }

    .news-sec1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .news-f-sec2 {
        width: 100%;
        font-size: 10px;
        color: #fff;
        font-weight: 200;
        margin-top: 5px;
    }
    
    .news-f-sec2 a {
        color: #fff;
        text-decoration: none;
    }

    .news-title3 {
        font-size: 20px;
    }

    .link-buttonGroup {
        padding: 0px 20px;
        margin: 10px 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .link-button2 {
        font-size: 11px;
    }
}